
.container{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper{
  padding:4% !important; 
  border: 2px solid pink;
  background: linear-gradient(315deg, rgba(0,255,184,1) 5% 0%, #5471a1 100%)
}
.header{
   text-align: center;
}
.display-password{
  background-color: aquamarine;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

}

.copy-text{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.space-around{
  width:100%;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  align-items: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.generate-pass-btn{
  text-align: center;
}
button{
  margin-top: 20px !important;
  padding: 10px ;
  border-radius: 25px !important;
  width: 100%;
  background-color: aquamarine;
  border: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
